<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.lab4_uizujian">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SimpleAdapt"
            android:label="SimpleAdapt" />
        <activity
            android:name=".DialogActivity"
            android:label="DialogActivity" />
        <activity
            android:name=".MenuTest"
            android:label="MenuTest"></activity>
        <activity android:name=".ActionMode_test"></activity>
    </application>

</manifest>